@model Candidate

<div class="display-4">
    <h3>Congrats @Model.FullName</h3>
    <p class="lead">Your application has been <mark>accepted.</mark></p>

    <hr>

    <blockquote class="blockquote">
        You have enrolled to @Model.SelectedCourse course.
    </blockquote>

    <p class="text-muted">Applyed at @Model.ApplyedAt</p>
    
    <div class="btn-group">
        <a class="btn btn-outline-success" asp-controller="Course" asp-action="ListOfApplications">Applications</a>
        <a class="btn btn-success" asp-controller="Home" asp-action="Index">Home</a>
    </div>
</div>